* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 248, 248);
} /* setting the defaults for page*/
nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 100vw;
} /* set the parameters for the nav sections height and its content */
nav, .navigation-links {
    display: flex;
} /*this includes nav because it needs to carry over the parameters set above and also includes instructions for links */
.navigation-links, a {
    gap: 17vw;
    list-style: none;
    font-size: 2rem;
    color: #363636;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 5px;
}
.navigation-links a:hover{
    border-bottom: 5px solid #3633d1;
	color: #7c7b7b;
	margin: 0 0px;
	padding: 5px 5px;
	text-decoration: none;
}
html {
    scroll-behavior: smooth;
} /* Will smoothly scroll down to our linked sections in the website*/